
doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title CK Gets It Done
  body
    .header
      h1.page-title CK Gets it Done

    ul.nav
      li: a(href='/') Home
      li: a(href='#hrmph') Words

    .main-content
      block content

    .footer
      p Copyright © 2016 CK
