extend default

block content
  h1.
    strugatsky brothers

  p.
    It's our job to teach them to think. But they aren't learning.

  p.
    A she-wolf teaches her cubs: "Bite like I do," and that's enough.
    A she-rabbit teaches her offspring: "Run like I do," and that's also
    enough. But when a man teaches his children: "Think like I do," and that's a crime. 
