extend default

block content
  h1.
    literary pastiche

  p.
    I mean, after all, you have to consider we're only made out of dust. That's admittedly not much to
    go on and we shouldn't forget that. But even considering, I mean it's sort of a bad beginning, we're
    not doing too bad. So I personally have faith that even in this lousy situation we're faced with we
    can make it. You get me?

  p.
    He felt all at once like an ineffectual moth, fluttering at the windowpane of reality, dimly seeing it from outside.
